<div class="joke-card">
  <div class="joke-header">
    <button mat-icon-button aria-label="Add to Favourite" (click)="toggleFavouriteStatus(joke)">
      <mat-icon aria-label="Empty heart icon" [svgIcon]="joke.isFavourite ? 'appHeart' : 'appEmptyHeart'"></mat-icon>
    </button>
  </div>
  <div class="joke-body">
    <div class="joke-icon">
      <mat-icon aria-label="Message icon" svgIcon="appMessage"></mat-icon>
    </div>
    <div class="joke-content">
      <div class="joke-id"><span class="text-gray">ID:</span><a [href]="joke.url">{{joke.id}}<mat-icon aria-label="Message icon" svgIcon="appLink"></mat-icon></a></div>
      <div class="joke-text">
        <p>{{joke.value}}</p>
      </div>
      <div class="joke-footer">
        <span class="joke-date text-gray"> Last update: {{ joke.created_at | timeToHours}} hours ago</span>
        <div  class="joke-category" *ngFor="let category of joke.categories">
          <span>{{category | uppercase}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

