<div class="joke-card">
  <div class="joke-header">
    <mat-icon aria-label="Empty heart icon" svgIcon="appEmptyHeart"></mat-icon>
  </div>
  <div class="joke-body">
    <div class="joke-icon">
      <mat-icon aria-label="Message icon" svgIcon="appMessage"></mat-icon>
    </div>
    <div class="joke-content">
      <div class="joke-id"><span class="text-gray">ID:</span><a href="https://google.com.ua">12123123123123123213<mat-icon aria-label="Message icon" svgIcon="appLink"></mat-icon></a></div>
      <div class="joke-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus animi alias optio, similique pariatur id doloremque, eos quaerat repellendus reprehenderit eligendi commodi rem maiores ut assumenda, esse accusamus. Consequatur, labore.</p>
      </div>
      <div class="joke-footer">
        <span class="joke-date text-gray"> Last update: 666 hours ago</span>
        <div  class="joke-category">
          <span>Category</span>
        </div>
      </div>
    </div>
  </div>
</div>

