<div class="favourite-card">
  <div class="favourite-header">
    <mat-icon aria-label="Empty heart icon" (click)="removeFromFavourites(favourite)" svgIcon="appHeart"></mat-icon>
  </div>
  <div class="favourite-body">
    <div class="favourite-icon">
      <mat-icon aria-label="Message icon" svgIcon="appMessage"></mat-icon>
    </div>
    <div class="favourite-content">
      <div class="favourite-id"><span class="text-gray">ID:</span><a href="{{favourite.url}}">{{favourite.id}}<mat-icon aria-label="Message icon" svgIcon="appLink"></mat-icon></a></div>
      <div class="favourite-text">
        <p>{{favourite.value}}</p>
      </div>
      <div class="favourite-footer">
        <span class="favourite-date text-gray"> Last update: {{favourite.created_at | timeToHours}} hours ago</span>
      </div>
    </div>
  </div>
</div>